<app-nav></app-nav>
<div id="main" class="container">
    <ol class="breadcrumb">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="active">Meet the Team</li>
    </ol>
    <div class="row">
        <div *ngFor="let team of teams" class="team-div row">
            <h1>{{team.title}}</h1>
            <div class="member-div col-md-3" *ngFor="let member of team.members">
                <div class="round-img">
                    <img 
                    width="150px" 
                    src="http://{{member.image}}" 
                    alt="{{member.name}} pic" />
                </div>
                <div (style)="setImage()"></div>
                <strong>{{member.name}}</strong><br />
                {{member.job_position}}<br />
                {{member.add_text}}<br />
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
