<div id="wrapper" class="toggled">
    <sidebar [selectedFarm]="selectedFarm"></sidebar>
    <div id="page-content-wrapper">
        <user-nav [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <h1>About PCARI-CITAS</h1>
            <div id="content" class="row">
                <h3>Project Details</h3>
                <p class="about-content" style="margin: 0 20% 0 20%;">The project aims to address the problem of late detection of diseases in plants by developing an intelligent and mobile cloud-based Total Analysis System (TAS) consisting of a mobile PlantScope (mobile phone based microscope) partnered
                    with a mobile loop-mediated isothermal amplification (LAMP) assay kit that will be directly accessible to farmers. </p>
                <p class="about-content" style="padding-bottom: 40px; padding-top: 20px; margin: 0 20% 0 20%;">We want to provide a platform for remote data collection, data storage, and a data analysis framework that uses web, mobile, and cloud technologies in the context of detection and prediction of plant disease and its spread, respectively.The
                    project also provides low-cost environmental monitoring of crops that uses a multi-dimensional (plant, its environment, and geospatial features) and multi-platform approach (using web, mobile, and cloud), considering micro-total analysis
                    and a relatively low cost mobile lab.
                </p>
            </div>
        </div>
    </div>
</div>