<app-nav></app-nav>
<div id="main" class="container">
    <ol class="breadcrumb">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="active">About the Project</li>
    </ol>
    <div class="row">
        <!-- Article main content -->
        <article class="col-sm-12 maincontent">
            <h1 class="page-header text-center">About the Project</h1>
            <p class="about-content">
                The project aims to address the problem of late detection of diseases in plants by developing an intelligent and mobile cloud-based Total Analysis System (TAS) consisting of a mobile PlantScope (mobile phone based microscope) partnered with a mobile loop-mediated
                isothermal amplification (LAMP) assay kit that will be directly accessible to farmers. </p>
            <p class="about-content">
                We want to provide a platform for remote data collection, data storage, and a data analysis framework that uses web, mobile, and cloud technologies in the context of detection and prediction of plant disease and its spread, respectively.
            </p>
            <p class="about-content">
                The project also provides low-cost environmental monitoring of crops that uses a multi-dimensional (plant, its environment, and geospatial features) and multi-platform approach (using web, mobile, and cloud), considering micro-total analysis and a relatively
                low cost mobile lab.
            </p>
        </article>
        <!-- /Article -->
    </div>
</div>

<app-footer></app-footer>