<app-nav></app-nav>
<div id="main" class="container">
    <ol class="breadcrumb">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="active">Meet the Team</li>
    </ol>
    <div class="row">
        <div *ngFor="let team of teams">
            <h1>{{team.title}}</h1>
            <div class="member-div" *ngFor="let member of team.members">
                <div>
                    <img src="http://{{member.image}}" alt="{{member.name}} pic" /><br />
                </div>
                <strong>{{member.name}}</strong><br />
                {{member.job_position}}<br />
                {{member.add_text}}<br />
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>