div.container {
    padding: 90px 0 30px;
}

.member-div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: block;
    margin: auto;
}

.member-div {
    min-height: 250px;
    padding: 9px;
    text-align: center;
}

.team-div {
    margin: 20px;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
}