<app-nav></app-nav>
<div id="main" class="container">
    <div class="row" id="wrap">
        <h1 class="page-header text-center">Research</h1>
        <input (keyup)="search(searchResearch.value)" #searchResearch id="searchResearch" placeholder="Search research..." />
        <ol id="searchList">
            <li *ngFor="let item of research ">
                <h4>{{item.research_title}}</h4>
                <p>
                    <strong>Conference: </strong>{{item.research_conference}}<br />
                    <strong>Venue: </strong>{{item.research_venue}}<br />
                </p>
            </li>
        </ol>
        <!-- <ol id="research-list">
            <li *ngFor="let item of research ">
                <h4>{{item.research_title}}</h4>
                <p>
                    <strong>Conference: </strong>{{item.research_conference}}<br />
                    <strong>Venue: </strong>{{item.research_venue}}<br />
                </p>
            </li>
        </ol> -->
    </div>
</div>

<app-footer></app-footer>