<app-nav></app-nav>
<div id="main" class="container">
    <div class="row" id="wrap">
        <h1 class="page-header text-center">Events</h1>
        <div *ngFor="let event of events " class="event-div float-left">
            <div class="row">
                <div class="col col-md-4 date-div text-center">
                    <h1>{{event.date_from | date:'MMM'}}</h1>
                    <h2 *ngIf="!isOneDay(event)">{{event.date_from | date:'dd'}} - {{event.date_to | date:'dd'}}</h2>
                    <h2 *ngIf="isOneDay(event)">{{event.date_from | date:'dd'}}</h2>
                </div>
                <div class="col col-md-8">
                    <h3>{{event.event_name}}</h3>
                    <p>
                        <strong>Venue:</strong> {{event.event_venue}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>