div.container {
    padding: 90px 0 30px;
}

.training-div {
    /* width: 350px; */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px 20px;
    min-height: 210px;
    -moz-box-shadow: 0px 2px 5px 3px #ccc;
    -webkit-box-shadow: 0px 2px 5px 3px #ccc;
    box-shadow: 0px 2px 5px 3px #ccc;
}

.date-div {
    height: 100%;
}

h3:not(.title) {
    margin-top: -5px;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}