<app-nav></app-nav>
<div id="main" class="container">
    <div class="row" id="wrap">
        <h1 class="page-header text-center">Research</h1>
        <input (keyup)="search(searchResearch.value)" #searchResearch id="searchResearch" placeholder="Search research..." />
        <ol id="searchList">
            <li *ngFor="let item of research ">
                <h4>{{item.research_title}}</h4>
                <p>
                    <strong>Conference: </strong>{{item.research_conference}}<br />
                    <strong>Venue: </strong>{{item.research_venue}}<br />
                    <strong>Duration: </strong>{{item.date_from | date: "MMMM"}}
                    <span *ngIf="!isOneDay(item)">{{item.date_from | date:'dd'}} - {{item.date_to | date:'dd'}},</span>
                    <span *ngIf="isOneDay(item)">{{item.date_from | date:'dd'}},</span> {{item.date_from | date:'y'}}<br />
                    <strong>Delegates: </strong><span *ngFor="let delegate of item.delegates; let i = index">{{delegate}}<span *ngIf="i !== item.delegates.length - 1">,</span> </span><br />
                    <strong>Authors: </strong><span *ngFor="let author of item.authors; let i = index">{{author}}<span *ngIf="i !== item.authors.length - 1">,</span> </span><br />
                </p>
            </li>
        </ol>
        <!-- <ol id="research-list">
            <li *ngFor="let item of research ">
                <h4>{{item.research_title}}</h4>
                <p>
                    <strong>Conference: </strong>{{item.research_conference}}<br />
                    <strong>Venue: </strong>{{item.research_venue}}<br />
                </p>
            </li>
        </ol> -->
    </div>
</div>

<app-footer></app-footer>
