<app-nav></app-nav>
<div id="main" class="container">
    <div class="row" id="wrap">
        <h1 class="page-header text-center">Trainings</h1>
        <input (keyup)="search(searchResearch.value)" #searchResearch id="searchResearch" placeholder="Search training..." />
        <ol id="searchList">
            <li *ngFor="let training of trainings ">
                <h4>{{training.training_name}}</h4>
                <p>
                    <strong>Venue: </strong>{{training.training_venue}}<br />
                    <strong>Delegates: </strong><span *ngFor="let delegate of training.participants">{{delegate}}, </span><br />
                    <strong>Duration: </strong>{{training.date_from | date: "MMMM"}}
                    <span *ngIf="!isOneDay(training)">{{training.date_from | date:'dd'}} - {{training.date_to | date:'dd'}},</span>
                    <span *ngIf="isOneDay(training)">{{training.date_from | date:'dd'}},</span> {{training.date_from | date:'y'}}<br />
                </p>
            </li>
        </ol>
    </div>
</div>

<app-footer></app-footer>