div.container {
    padding: 90px 0 30px;
}

.event-div {
    /* width: 350px; */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 5px 20px;
    min-height: 170px;
    max-height: 170px;
    height: 170px;
    -moz-box-shadow: 0px 2px 5px 3px #ccc;
    -webkit-box-shadow: 0px 2px 5px 3px #ccc;
    box-shadow: 0px 2px 5px 3px #ccc;
    background: #ffffff;
}

.info-div {
    padding-left: 20px !important;
}

.date-div {
    background-color: #efefef;
    padding-bottom: 10px;
    border-radius: 50%;
}

h3:not(.title) {
    margin-top: -10px;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

.photo-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
}
.photo-item {
    width: 320px;
    margin: 0 5px 5px 0;
    float: left;
}

#eventModal .modal-body {
    padding: 30px;
}
#eventModal .modal-dialog {
    width: 750px;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px;
}

h3 {
    text-align: center;
}