<app-nav [isTransparent]="false"></app-nav>

<div class="container">
    <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper placerat pretium. Fusce ut dapibus lacus. Donec pulvinar lacinia sagittis. Mauris at tristique metus, et dapibus velit. Curabitur est odio, maximus ac auctor vel, congue eget
            purus. Ut nec gravida ipsum. Integer at interdum lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum eu lobortis felis, imperdiet laoreet tortor. Vestibulum eu nulla blandit, dictum
            sapien sit amet, posuere eros. Mauris in erat accumsan, mollis lectus a, sollicitudin ante. Morbi vehicula justo vitae eros interdum condimentum. Duis eget sagittis dui. Nullam vitae neque congue, dictum sem nec, luctus nisi. Ut bibendum nisi
            sit amet sem convallis, placerat venenatis risus fermentum.</p>
    </div>
    <!-- /form -->
</div>
<!-- ./container -->


<app-footer></app-footer>