div.container {
    padding: 90px 0 30px;
}

div#content {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    text-align: center;
}