div#container {
    border: 1px #ccc solid;
    padding: 30px 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    margin-bottom: 14px;
}

strong {
    font-size: 18px;
    margin-left: 30px;
}

p {
    color: #57675F;
    font-weight: bold;
    margin: 0 0 30px 30px;
}

div#container div {
    width: 220px;
    margin: 15px auto 0;
}

a#view-link {
    height: 47px !important;
    padding: 15px 0;
    font-size: 14px;
    line-height: 18px;
    width: 220px;
}