table {
    margin-bottom: 14px;
    border-top: 1px solid #ccc;
    width: 100%;
}

td.text {
    font-weight: bold;
    text-align: left;
    color: #57675f;
}

td.value {
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

td,
th {
    padding: 45px 30px;
    background: #ffffff;
}

tr {
    border: 1px solid #ccc;
    border-top: 0px;
}

a {
    cursor: pointer;
}