div#container {
    border: 1px #ccc solid;
    padding: 30px 0;
    margin-bottom: 14px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    min-width: 630px;
}

strong {
    font-size: 18px;
    padding: 0 0 30px 30px;
}