<h3>Sensor Status</h3>
<div id="container">
    <span class="text-right">Soil Temperature: </span>{{selectedFarm.sensor_status.soil_temperature}}<br />
    <span class="text-right">Air Temperature: </span>{{selectedFarm.sensor_status.air_temperature}}<br />
    <span class="text-right">pH Reading: </span>{{selectedFarm.sensor_status.pH}}<br />
    <span class="text-right">Conductivity: </span>{{selectedFarm.sensor_status.conductivity}}<br />
    <span class="text-right">Amount of Light: </span>{{selectedFarm.sensor_status.light}}<br />
    <span class="text-right">Soil Moisture: </span>{{selectedFarm.sensor_status.soil_moisture}}<br />
</div>
<!-- <table>
    <tr>
        <td class="text">Soil Sensors</td>
        <td class="value">{{sensors.length}}</td>
    </tr>
</table> -->