<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <div class="row">
                <div class="col col-md-8">
                    <div class="row">
                        <farm-info class="col col-md-12 col-sm-12" [selectedFarm]="selectedFarm"></farm-info>
                    </div>
                    <div class="row" *ngIf="selectedFarm.sensor_status !== undefined">
                        <plants-info class="col col-md-6 col-sm-12" [selectedFarm]="selectedFarm"></plants-info>
                        <sensors-info class="col col-md-6 col-sm-12" [selectedFarm]="selectedFarm"></sensors-info>
                    </div>
                    <div class="row">
                        <!-- <farms-list class="col col-md-6 col-sm-12" [farms]="farms" (selectFarm)="selectFarm($event)"></farms-list> -->
                        <a class="btn btn-default btn-lg" role="button" routerLink="/view-farms" routerLinkActive="active">View All Farms</a>
                    </div>
                </div>
                <div class="col col-md-4" id="map-parent-div">
                    <map [height]=" 308 " [disableInteraction]="true " [zoomControl]="false " [selectedFarm]="selectedFarm " [sensors]="sensors " [plants]="plants " [sites]="sites "></map>
                    <plant-health [selectedFarm]="selectedFarm"></plant-health>
                </div>
            </div>
        </div>
    </div>
</div>