td.text {
    font-weight: bold;
    text-align: left;
}

td.value {
    text-align: right;
}

td {
    padding: 30px;
}

tr {
    border: 1px solid gray;
    border-top: 0px;
}

table {
    width: 350px;
    float: left;
    margin-right: 30px;
    border-top: 1px solid gray;
}