div.container {
    padding: 90px 0 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
    font-weight: 300;
}

h1 {
    text-align: left;
    font-weight: bold;
}