<h3>Plant Status</h3>
<div id="container">
    <span class="text-right">Healthy: </span>{{healthy}}<br />
    <span class="text-right">Infected: </span>{{infected}}<br />
    <span class="text-right">Unknown: </span>{{unknown}}<br />
    <span class="text-right">Total: </span>{{total}}<br />
</div>

<!-- <table>
    <tr id="plants">
        <td class="text">Total Plants</td>
        <td class="value">{{total}}</td>
    </tr>
    <tr id="unknown">
        <td class="text">Unknown</td>
        <td class="value">{{unknown}}</td>
    </tr>
    <tr id="infected">
        <td class="text">Infected</td>
        <td class="value">{{infected}}</td>
    </tr>
    <tr id="healthy">
        <td class="text">Healthy</td>
        <td class="value">{{healthy}}</td>
    </tr>
</table> -->