div#container {
    border: 1px #ccc solid;
    padding: 30px;
    width: 450px;
    margin: 0 30px 30px 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
}

strong {
    font-size: 18px;
}

p {
    color: #57675F;
    font-weight: bold;
}

a#view-link {
    margin-top: 10px;
}