div#container {
    border: 1px #ccc solid;
    padding: 30px 0;
    width: 450px;
    margin: 0 30px 30px 0;
}

td.text {
    font-weight: bold;
    text-align: left;
}

td.value {
    text-align: right;
}

td,
th {
    padding: 5px 15px;
    text-align: left;
    border-right: 1px solid #ccc;
}

tr {
    border: 1px solid #ccc;
    border-top: 0px;
    border-right: 0px;
}

table {
    width: 510px;
    margin: 30px 30px 30px 0;
    border-top: 1px solid #ccc;
}

.table-title {
    text-align: center;
    font-size: large;
}

td:nth-child(1),
td:nth-child(2) {
    width: 100px;
}

a#view-link {
    margin-top: px;
}