<div id="sidebar-wrapper" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#"><i class="app-logo-white"></i></a>
        </li>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active"><i class="icon fa fa-tachometer"></i> Dashboard</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-bar-chart"></i> Trends and Analysis <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a routerLink="/plant-analysis" routerLinkActive="active">Plant Analysis</a></li>
                <li>
                    <a routerLink="/sensor-analysis" routerLinkActive="active">Soil Parameter Trends</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/total-analysis" routerLinkActive="active"><i class="icon fa fa-map"></i> Total Analysis</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-database"></i> Data Sets <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a routerLink="/plant-images" routerLinkActive="active">Collected Plant Images</a>
                </li>
                <li>
                    <a routerLink="/sensor-data" routerLinkActive="active">Collected Sensor Data</a>
                </li>
                <li>
                    <a routerLink="/soil-data" routerLinkActive="active">Collected Soil Characteristics</a>
                </li>
                <li>
                    <a routerLink="/downloads" routerLinkActive="active">Downloads</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active"><i class="icon fa fa-leaf"></i> About PCARI-CITAS</a>
        </li>
    </ul>
</div>