<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <h1>{{selectedFarm.farm_name}} <span *ngIf="selectedFarm.farm_name != 'Loading...'">Overview</span></h1>
            <div class="row">
                <div id="info-div" class="col col-md-4 col-sm-12">
                    <plants-info [selectedFarm]="selectedFarm"></plants-info>
                    <sensors-info [sensors]="sensors"></sensors-info>
                </div>
                <farm-info class="col col-md-5 col-sm-12" [plants]="plants" [sensors]="sensors" [sites]="sites" [selectedFarm]="selectedFarm"></farm-info>
                <farms-list class="col col-md-3 col-sm-12" *ngIf="user_type == 5" [farms]="farms" (selectFarm)="selectFarm($event)"></farms-list>
            </div>
            <div class="row">
                <plant-health class=" col col-md-9 col-sm-12 "></plant-health>
            </div>
        </div>
    </div>
</div>