div#container {
    border: 1px solid #ccc;
    padding: 30px;
    text-align: left;
    background: #ffffff;
    margin-bottom: 14px;
    min-width: 650px;
}

div#images-grid div img {
    width: 150px;
    border: 1px solid black;
    margin: 0 7px 7px 0;
}

div#images-grid span.imageType {
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1px;
    position: absolute;
    text-transform: uppercase;
}

div#images-list span.imageType {
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1px;
    text-transform: uppercase;
    margin-left: 30px;
}

div#images-list div {
    margin-bottom: 10px;
}

div#images-list div img {
    width: 100px;
    border: 1px solid black;
}

#viewType-div {
    margin: 20px 0 10px;
}

#viewType-div a {
    cursor: pointer;
}

h3 {
    margin-top: 0;
}

.row {
    margin-bottom: 20px;
}