<div id="container">
    <h3>Download Sensor Data</h3>
    <h4>{{selectedFarm.farm_name}}</h4>
    <p>Choose start date and end date for the sensor data you want to download. File wil be in a .csv format.</p>
    <div class="row">
        <div class="col-md-6">
            <label for="sensorFromDate">Start Date</label>
            <input id="sensorFromDate" />
        </div>
        <div class="col-md-6">
            <label for="sensorToDate">End Date</label>
            <input id="sensorToDate" />
        </div>
    </div>
    <div *ngIf="to && from" class="row">
        <div class="col-md-6">
            <label>Site</label>
            <select [(ngModel)]="selectedSiteID">
                <option [selected]="true" [ngValue]="'all'">All</option>
                <option *ngFor="let site of sites" [ngValue]="site.sampling_site_id">{{site.sampling_site_name}}</option>
            </select>
        </div>
    </div>
    <p *ngIf="to && from" class="text-success text-center">Download data from <strong>{{from | date:'longDate'}}</strong> to <strong>{{to | date:'longDate'}}</strong>?</p>
    <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
    <button *ngIf="to && from" (click)="downloadSensorData()" class="btn btn-primary btn-block">Download Sensor Data</button>
</div>