<div id="container">
    <h3>Download Sensor Data</h3>
    <h4>{{selectedFarm.farm_name}}</h4>
    <p>Choose start date and end date for the sensor data you want to download. File wil be in a .csv format.</p>
    <div class="row">
        <div class="col-md-6">
            <label for="from">Start Date</label>
            <input type="date" name="from" id="from" [(ngModel)]="from" />
        </div>
        <div *ngIf="from" class="col-md-6">
            <label for="to">End Date</label>
            <input type="date" name="to" id="to" [(ngModel)]="to" min="{{from | date:'y-MM-dd'}}" />
        </div>
    </div>
    <div class="row">
        <div *ngIf="to" class="col-md-4">
            <label>Site</label>
            <select [(ngModel)]="selectedSiteID">
                <option selected [ngValue]="'all'">All</option>
                <option *ngFor="let site of sites" [ngValue]="site.sampling_site_id">{{site.sampling_site_name}}</option>
            </select>
        </div>
    </div>
    <p *ngIf="to" class="text-success text-center">Download data from <strong>{{from | date:'mediumDate'}}</strong> to <strong>{{to | date:'mediumDate'}}</strong>?</p>
    <button *ngIf="to" (click)="downloadSensorData()" class="btn btn-primary btn-block">Download Sensor Data</button>
</div>