div.container {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    font-weight: 300;
    background: #f3f3f3;
    padding: 30px !important;
    max-width: 1000px;
    float: left;
}

div#content {
    border: 1px solid #ccc;
    text-align: left;
    background: #ffffff;
    padding: 30px;
    margin-bottom: 14px;
    width: 650px;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin: 0 !important;
    width: 500px;
}

h3 {
    margin-top: 0;
}