<div id="wrapper" class="toggled">
    <sidebar [selectedFarm]="selectedFarm"></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <h1>Downloads</h1>
            <div class="row">
                <download-sensor-data [selectedFarm]="selectedFarm" class="col col-md-6"></download-sensor-data>
                <download-plant-data class="col col-md-6"></download-plant-data>
            </div>
        </div>
    </div>
</div>