<div id="container">
    <h3>Download Plant Images</h3>
    <h4>{{selectedFarm.farm_name}}</h4>
    <p>Choose start date and end date for the plant images you want to download. File wil be in a .zip format.</p>
    <div class="row">
        <div class="col-md-6">
            <label for="plantFromDate">Start Date</label>
            <input id="plantFromDate" />
        </div>
        <div class="col-md-6">
            <label for="plantToDate">End Date</label>
            <input id="plantToDate" />
        </div>
    </div>
    <div *ngIf="to && from" class="row">
        <div class="col-md-6">
            <label>Site</label>
            <select [(ngModel)]="selectedSiteID">
                <option [ngValue]="'all'">All</option>
                <option *ngFor="let site of sites" [ngValue]="site.sampling_site_id">{{site.sampling_site_name}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Plant Health</label>
            <select [(ngModel)]="health">
                <option [ngValue]="'all'">All</option>
                <option [ngValue]="'infected'">Infected</option>
                <option [ngValue]="'not_infected'">Healthy</option>
                <option [ngValue]="'unknown'">Unknown</option>
            </select>
        </div>
    </div>
    <p *ngIf="to && from" class="text-success text-center">Download images of Plants with <strong>{{health | analysis}}</strong> health status from <strong>{{from | date:'longDate'}}</strong> to <strong>{{to | date:'longDate'}}</strong>?</p>
    <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
    <button *ngIf="to && from" (click)="downloadPlantData()" class="btn btn-primary btn-block">Download Plant Images</button>
</div>