<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <map [fullMap]="true" [editable]="true" (setFarmInfo)="setFarmInfo($event)" [selectedFarm]="selectedFarm">
        </map>
        <div id="m" class="ui-widget-content">
            <h3>Edit Farm</h3>
            <p>Please edit the boundaries of your farm on the map using the <strong>edit tool</strong> on the top right side of the window. Remember to <strong>Save</strong> your work.</p>
            <form>
                <div class="form-group">
                    <div>
                        <label for="farm_name" id="farm_name-lbl">Farm Name:</label>
                        <input type="text" id="farm_name-fld" class="form-control" [(ngModel)]="farm_name" name="farm_name" placeholder="Farm Name" />
                    </div>
                    <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                </div>
            </form>
            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
            <button class="btn btn-primary clickable" (click)="submitFarmInfo()">Update Farm</button>
            <a class="btn btn-default clickable" (click)="hideMap()">Cancel</a>
        </div>
        <div class="container">
            <div id='content-1' class="row">
                <h1>Edit Farm</h1>
                <p>Choose which farm you want to edit.</p>
                <form>
                    <div class="form-group">
                        <div>
                            <label for="farm_name" id="farm_name-lbl">Farm Name:</label>
                            <select name="farm_name" [(ngModel)]="farm_id">
                                <option [ngValue]="farm.farm_id" *ngFor="let farm of farms">{{farm.farm_name}}</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input [(ngModel)]="accept" name="accept" type="checkbox" /> I accept <a routerLink="/blank" routerLinkActive="active">terms</a>
                            </label>
                        </div>

                        <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>

                        <button (click)="selectFarm()" class="btn btn-primary btn-block">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>