footer {
    color: #888;
}

.footer1,
.footer2 {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

ul.simplenav {
    list-style: none;
}

ul.simplenav li a {
    color: #99E2BE;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
    display: block;
}

div#contact-us div.widget-body strong {
    font-size: large;
}

div#contact-us div.widget-title h3 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

div#contact-us div.widget-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 26px;
    width: 380px;
}