<footer id="footer">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact Us</h3>
                    <a name="contact-us"></a>
                    <div class="widget-body">
                        <h5>(+63) 426 6001 loc. 5605</h5>
                        <p>Rm. 201a PLDT-CTC Building Ateneo de Manila University Katipunan Avenue, Loyola Heights Quezon City, Metro Manila, Philippines 1108</p>
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a routerLink="/" routerLinkActive="active">Home</a> |
                            <a routerLink="/about-citas" routerLinkActive="active">About</a> |
                            <a routerLink="/contact-us" routerLinkActive="active">Contact</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright © 2017, CITAS | Designed by Ateneo de Manila University
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </div>
</footer>