#header-wrap {
    background: black url('../assets/bg_header.jpg') no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}

header {
    padding: 90px 0 40px 0;
}

i.app-logo {
    background: url('../assets/citas.png') no-repeat center center !important;
    height: 190px;
    display: block;
    width: 190px;
    margin: auto;
    background-size: cover !important;
}