#header-wrap {
    background: black url('../assets/bg_header-min.jpg') no-repeat;
    background-size: cover;
    min-height: 520px;
}

#head {
    padding: 90px 0 30px;
    font-family: "Open sans", Helvetica, Arial;
    color: white;
    text-align: center;
    font-weight: 300;
}

#head .lead {
    font-family: "Open sans", Helvetica, Arial;
    font-size: 44px;
    margin-bottom: 6px;
    line-height: 1.15em;
}

#head .tagline {
    padding-bottom: 45px;
}

#head .btn-default {
    text-shadow: none;
    background: transparent;
    color: white;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    background: transparent;
}

#head .btn {
    margin-bottom: 10px;
}

i.app-logo {
    background: url('../assets/citas-min.png') no-repeat center center !important;
    height: 190px;
    display: block;
    width: 190px;
    margin: auto;
    background-size: cover !important;
}