#body-wrap {
    padding: 90px 0 30px;
}

p#desc span {
    font-weight: bold;
}

p#desc {
    height: 117px;
    color: #57675F;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 39px;
    text-align: left;
    border-left: 5px solid #F0F0F0;
    padding-left: 30px;
}

div.features-desc {
    width: 290px;
}

div#features-row,
div.platform-row,
p#desc {
    width: 90%;
    margin: 30px auto;
}

div.platform-row {
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 0 0 rgba(227, 227, 227, 0.5);
    padding: 30px;
}

h3 {
    color: #2D4137;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 39px;
}

p.platform-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

div.features-desc h3,
div.features-desc p,
div.platform-row .row div p,
div.platform-row .row div h3 {
    text-align: left !important;
    margin: 5px 0 !important;
    color: #57675F;
}

div.platform-row .row div p,
div.features-desc p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

div#soil-analysis h4::before {
    background: url('../assets/icon-soil_analysis.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

div#geo-analysis h4::before {
    background: url('../assets/icon-geospatial_analysis.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

div#plant-analysis h4::before {
    background: url('../assets/icon-plant_image_analysis.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

div#plant-scope h4::before {
    background: url('../assets/icon-plantscope.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

div#soil-data h4::before {
    background: url('../assets/icon-soil_data_collection.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

div#lamp-kit h4::before {
    background: url('../assets/icon-lamp_assay_kit.png') center center no-repeat;
    content: url('http://i.stack.imgur.com/Icd9n.png');
    padding: 3px 5px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
}