<app-nav [isTransparent]="true"></app-nav>
<app-header [title]="title" [description]="description"></app-header>
<div class="container text-center">
    <br> <br>
    <p class="thin" id="desc">CITAS is a platform for remote data collection, data storage, and a data analysis framework that uses web, mobile, and cloud technologies for the detection and <span>forecasting of plant diseases.</span></p>
</div>
<h2 id="LearnMore" class="text-center"></h2>
<div class="container">
    <div class="row" id="features-row">
        <div class="col-sm-6">
            <img class="float-left features-image" src="./assets/icon-cloud.png">
            <div class="features-desc float-left">
                <h3 style="text-align: center;">Cloud</h3>
                <p style="margin: 0 20% 0 20%;">The cloud platform stores and processes all the data that is used in the mobile and web platforms.</p>
            </div>
        </div>

        <div class="col-sm-6">
            <img class="float-left features-image" src="./assets/icon-database.png">
            <div class="features-desc float-left">
                <h3 style="text-align: center;">Database</h3>
                <p style="margin: 0 20% 0 20%;">The database contains all data pertinent for the system such as plant information, soil conditions, and geospatial data.</p>
            </div>
        </div>
    </div>
    <!-- /row -->


    <div id="web-features-row" class="platform-row row">
        <h3>Web Platform</h3>
        <p class="platform-desc">The web platform is accessible to researchers who wish to acquire data gathered by the farmers and analyzed by the system.</p>
        <hr />
        <div class="row features-row">
            <div class="col-md-4" id="soil-analysis">
                <h4>Soil Analysis</h4>
                <p>
                    Soil parameters gathered from the field are plotted on a graph to show the trends over a given time period.
                </p>
            </div>
            <div class="col-md-4" id="geo-analysis">
                <h4>Geospatial Analysis</h4>
                <p>
                    The web platform visualizes the spread of Foc TR4 in the respective farm sites and analyze where the disease might spread to next.
                </p>
            </div>
            <div class="col-md-4" id="plant-analysis">
                <h4>Plant Image Analysis</h4>
                <p>
                    Images loaded into the system are processed and analyzed to see if the plants are infected with Foc TR4 or not.
                </p>
            </div>
        </div>
    </div>
    <!-- /row -->

    <div id="mobile-features-row" class="platform-row row">
        <h3>Mobile Platform</h3>
        <p class="platform-desc">The mobile platform is used by the farmers on the field to collect data from their respective farms.</p>
        <p>Components: Data Capture (TANIM), Image Capture, Image Analysis, Data Analysis, Visualization</p>
        <hr />
        <div class="row features-row">
            <div class="col-md-4" id="plant-scope">
                <h4>Plantscope</h4>
                <p>
                    The PlantScope is composed of a mobile microscope paired with software for image processing, geospatial tagging, and QR coding for automated and easy labeling of plants.
                </p>
            </div>
            <div class="col-md-4" id="soil-data">
                <h4>Soil Data Collection</h4>
                <p>
                    Wireless Sensors deployed around the farm sites collect environmental data parameters and are retrieved by the farmers via the mobile app.
                </p>
            </div>
            <div class="col-md-4" id="lamp-kit">
                <h4>LAMP Assay Kit</h4>
                <p>
                    The LAMP Assay Kit is composed of a thermocycler and reagents that is used for the molecular detection of Foc TR4.
                </p>
            </div>
        </div>
        <!-- /row -->

        <!--
        <div class="jumbotron top-space">
            <p>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</p>
            <br />
            <p class="text-center"><a class="btn btn-primary btn-large">Learn more »</a></p>
        </div>--></div>