<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body text-center">
                <div class="login-div">
                    <h4>Forgot Password</h4>
                    <p>We will send you the password reset instructions through your email.</p>
                    <br />
                </div>
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <div class="login-div">
                            <label for="username" id="username-lbl">Username</label>
                            <input type="text" id="usernamefield" class="form-control" [(ngModel)]="username" name="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="login-div">
                            <div *ngIf="data && !data.Success" class="alert alert-danger">
                                Resetting of password via SMS is not yet implemented. Kindly contact us via our landline number (+63) 426 6001 loc. 5605 for further assistance or <a routerLink="/contact-us" routerLinkActive="active" (click)="hideModal()">contact us here</a>.
                            </div>
                            <div *ngIf="data && data.Success" class="alert alert-success">Please check your email or SMS for further instructions on resetting your password.</div>
                            <button type="submit" class="login-btn btn btn-primary" (click)="forgotPassword()">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>