.modal-dialog {
    width: 442px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}

button.login-btn {
    width: 100px;
}

div.login-div p {
    margin: 0;
}

div.login-div {
    width: 305px;
    margin: 0 auto;
}

input.form-control {
    margin-top: 15px;
    height: 53px;
    width: 298px;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #57675F;
}

.modal-header {
    padding: 15px;
    border-bottom: none !important;
}

.modal-content {
    box-shadow: none !important;
    border: none !important;
    padding-bottom: 30px;
}

.login-div label {
    height: 1.8%;
    width: 100%;
    color: #57675F;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

button.btn-primary {
    width: 298px;
}