<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Login</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <div class="login-div">
                            <input type="text" id="usernamefield" class="form-control" [(ngModel)]="username" name="username" placeholder="Username" />
                            <input type="password" id="passwordfield" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="login-div">
                            <button type="button" class="login-btn btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="login-btn btn btn-primary" (click)="login()" data-dismiss="modal"><i class="fa fa-btn fa-sign-in"></i> Login</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="login-div">
                            <p class="text-center small">No account yet? <a>Register here</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>