nav {
    padding: 10px;
    padding-top: 15px;
    border: none;
    border-radius: 0;
    
    background: #ffffff;
}

ul.dropdown-menu {
    background-color: #222;
    border-color: #080808;
}

ul.dropdown-menu a {
    background-color: #222;
    color: #9d9d9d;
}

ul.dropdown-menu a:hover {
    background-color: #222;
    color: #ffffff;
}

a.navbar-brand {
    background-image: url('../assets/logo@2x-min.png');
    background-size: 181px;
    margin-top: -20px !important;
    display: block;
    width: 181px;
    height: 65px;
}
li a {
	height: 18px;
    text-transform: uppercase;
    color: #57675F;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

li a:hover {
    color: #00B95C;
}