div#plant-list-container {
    margin-bottom: 14px;
}

div#plant-list-div {
    padding-top: 30px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
    background: #ffffff;
}

input#searchPlant {
    margin: 15px;
    padding: 5px;
}

#searchList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: calc(100% - 45px);
    margin-left: 15px;
    top: 110px;
    z-index: 9;
}

#searchList li a {
    text-align: left;
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
    cursor: pointer;
}

#searchList li a.header {
    background-color: #e2e2e2;
    /* Add a darker background color for headers */
    cursor: default;
    /* Change cursor style */
}

#searchList li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}