<div id="container">
    <div *ngIf="selectedPlant == undefined">
        <h3>Selected Plant: <em>None Selected</em></h3>
    </div>
    <div *ngIf="selectedPlant != undefined">
        <h3>Selected Plant: {{selectedPlant.plant_name}}</h3>
        <table>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <tr>
                <td class="text">growth_stage</td>
                <td class="value">{{selectedPlant.growth_stage}}</td>
            </tr>
            <tr>
                <td class="text">images</td>
                <td class="value">
                    <ul>
                        <li *ngFor="let image of selectedPlant.images">image</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text">leaf_area</td>
                <td class="value">{{selectedPlant.leaf_area}}</td>
            </tr>
            <tr>
                <td class="text">leaf_count</td>
                <td class="value">{{selectedPlant.leaf_count}}</td>
            </tr>
            <tr>
                <td class="text">leaves_infected</td>
                <td class="value">{{selectedPlant.leaves_infected}}</td>
            </tr>
            <tr>
                <td class="text">plant_description</td>
                <td class="value">{{selectedPlant.plant_description}}</td>
            </tr>
            <tr>
                <td class="text">plant_height</td>
                <td class="value">{{selectedPlant.plant_height}}</td>
            </tr>
            <tr>
                <td class="text">plant_variety</td>
                <td class="value">{{selectedPlant.plant_variety}}</td>
            </tr>
            <tr>
                <td class="text">pseudostem_infected</td>
                <td class="value">{{selectedPlant.pseudostem_infected}}</td>
            </tr>
            <tr>
                <td class="text">qrcode</td>
                <td class="value">{{selectedPlant.qrcode}}</td>
            </tr>
            <tr>
                <td class="text">rhizom_infected</td>
                <td class="value">{{selectedPlant.rhizom_infected}}</td>
            </tr>
            <tr>
                <td class="text">rhizosphere_infected</td>
                <td class="value">{{selectedPlant.rhizosphere_infected}}</td>
            </tr>
            <tr>
                <td class="text">roots_infected</td>
                <td class="value">{{selectedPlant.roots_infected}}</td>
            </tr>
            <tr>
                <td class="text">sampling_site_id</td>
                <td class="value">{{selectedPlant.sampling_site_id}}</td>
            </tr>
            <tr>
                <td class="text">stem_infected</td>
                <td class="value">{{selectedPlant.stem_infected}}</td>
            </tr>
        </table>
    </div>
</div>