div#container {
    border: 1px solid #ccc;
    margin: 0px 30px 30px 0;
    padding: 30px;
    min-width: 800px;
    text-align: left;
    background: #ffffff;
}

div#details-div {
    padding: 15px 0;
    width: 50%;
}

div.detail-item {
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
    width: calc(50% - 30px);
}

span.value {
    border: 1px solid #cccccc;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    display: block;
    width: 100%;
}

label {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #555;
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
}

div#images-div ul {
    margin: 20px;
    list-style: none;
}

div#images-div ul li {
    display: inline;
}

div#images-div ul li img {
    width: 150px;
}