<user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
<div class="container">
    <h1>Plant Analysis</h1>

    <plant-info [selectedPlant]="selectedPlant"></plant-info>

    <div id="plant-list-container" class="float-left">
        <label for="sampling_sites">Sampling Site: </label>
        <select (change)="onselect($event.target.value)">
            <option value=""></option>
            <option *ngFor="let site of sites" value="{{site.sampling_site_id}}">{{site.sampling_site_id}} : {{site.sampling_site_name}}</option>
        </select>
        <table>
            <tr>
                <th class="table-title" colspan="2">Map Plot: Plants ({{plants.length}})</th>
            </tr>
            <tr class="clickable-row" *ngFor="let plant of plants" (click)="selectPlant(plant.plant_id)">
                <td>{{plant.plant_id}}</td>
                <td>({{plant.lat}}, {{plant.lng}})</td>
            </tr>
        </table>
    </div>
    <div class="clear-both"></div>
</div>