div.container {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
    font-weight: 300;
    background: #f3f3f3;
    padding: 60px 30px !important;
    max-width: 1000px;
    width: 100%;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
}

div#plant-list-container {
    margin-bottom: 30px;
}

div#plant-list-div {
    padding-top: 30px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background: #ffffff;
}