<div id="container">
    <div *ngIf="selectedPlant == undefined">
        <h3>Selected Plant: <em>None Selected</em></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
    </div>
    <div *ngIf="selectedPlant != undefined">
        <h3>Selected Plant: <strong>{{selectedPlant.plant_name}}</strong></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
        <div id="details-div" class="row">
            <div class="col col-md-6">
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Variety</label><br />
                        <span class="value">{{selectedPlant.plant_variety}}</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Pseudostem Diameter</label><br />
                        <span class="value">{{selectedPlant.pseudostem_diameter}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Growth Stage</label><br />
                        <span class="value">{{selectedPlant.growth_stage}}</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Leaf Count</label><br />
                        <span class="value">{{selectedPlant.leaf_count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Height</label><br />
                        <span class="value">{{selectedPlant.plant_height}} cm</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Leaf Area</label><br />
                        <span class="value">{{selectedPlant.leaf_area}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <h4>Analysis Results</h4>
                <div class="row">
                    <div class="col col-md-6 result-div">
                        <span [style.color]="getBgColor(getLabel(selectedPlant.analysis_result.image))" id="image" class="result-span">{{getLabel(selectedPlant.analysis_result.image)}}</span>
                        <p class="result-desc">Image</p>
                    </div>
                    <div class="col col-md-6 result-div">
                        <span [style.color]="getBgColor(getLabel(selectedPlant.analysis_result.sensor))" id="sensor" class="result-span">{{getLabel(selectedPlant.analysis_result.sensor)}}</span>
                        <p class="result-desc">Soil Sensors</p>
                    </div>
                </div>
                <h4>Infected Parts</h4>
                <div class="row">
                    <div class="analysis-label col col-md-4">&nbsp;</div>
                    <div class="col col-md-4">Actual</div>
                    <div class="col col-md-4">Predicted</div>
                </div>
                <div class="row">
                    <div class="analysis-label col col-md-4">Sensor:</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.sensor_actual)}}</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.sensor_analysis)}}</div>
                </div>
                <div class="row">
                    <div class="analysis-label col col-md-4">Leaf:</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.leaf_actual)}}</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.leaf_analysis)}}</div>
                </div>
                <div class="row">
                    <div class="analysis-label col col-md-4">PlantScope:</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.plantscope_actual)}}</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.plantscope_analysis)}}</div>
                </div>
                <div class="row">
                    <div class="analysis-label col col-md-4">Llamp Assay:</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.lampassay_actual)}}</div>
                    <div class="col col-md-4">{{getLabel(plantAnalysis.lampassay_analysis)}}</div>
                </div>
            </div>
        </div>

        <h3>Images</h3>
        <div id="images-div">
            <ul>
                <li *ngFor="let image of selectedPlant.images">
                    <img src="http://{{image.image_thumbnail_url}}" />
                    <!--<img src="./assets/old-bg_header-min.jpg" />-->
                </li>
            </ul>
        </div>
    </div>
</div>