<div id="container">
    <div *ngIf="selectedPlant == undefined">
        <h3>Selected Plant: <em>None Selected</em></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
    </div>
    <div *ngIf="selectedPlant != undefined">
        <h3>Selected Plant: <strong>{{selectedPlant.plant_name}}</strong></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
        <div id="details-div" class="row">
            <div class="col col-md-6">
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Variety</label><br />
                        <span class="value">{{selectedPlant.plant_variety}}</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Pseudostem Diameter</label><br />
                        <span class="value">{{selectedPlant.pseudostem_diameter}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Growth Stage</label><br />
                        <span class="value">{{selectedPlant.growth_stage}}</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Leaf Count</label><br />
                        <span class="value">{{selectedPlant.leaf_count}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-item col col-md-6">
                        <label>Height</label><br />
                        <span class="value">{{selectedPlant.plant_height}} cm</span>
                    </div>
                    <div class="detail-item col col-md-6">
                        <label>Leaf Area</label><br />
                        <span class="value">{{selectedPlant.leaf_area}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <h4>Analysis Results</h4>
                    <div class="col col-md-6 result-div">
                        <span [style.color]="getBgColor(getLabel(selectedPlant.analysis_result.image))" id="image" class="result-span">{{getLabel(selectedPlant.analysis_result.image)}}</span>
                        <p class="result-desc">Image</p>
                    </div>
                    <div class="col col-md-6 result-div">
                        <span [style.color]="getBgColor(getLabel(selectedPlant.analysis_result.sensor))" id="sensor" class="result-span">{{getLabel(selectedPlant.analysis_result.sensor)}}</span>
                        <p class="result-desc">Soil Sensors</p>
                    </div>
                </div>
                <div class="row">
                    <h4>Infected Parts</h4>
                    <ul id="infectedList">
                        <li *ngIf="no_infected"><i class="fa fa-check"></i> No infected parts.</li>
                        <li *ngIf="selectedPlant.leaves_infected"><i class="fa fa-check"></i> Leaves</li>
                        <li *ngIf="selectedPlant.roots_infected"><i class="fa fa-check"></i> Roots</li>
                        <li *ngIf="selectedPlant.stem_infected"><i class="fa fa-check"></i> Stem</li>
                        <li *ngIf="selectedPlant.rhizome_infected"><i class="fa fa-check"></i> Rhizome</li>
                        <li *ngIf="selectedPlant.rhizosphere_infected"><i class="fa fa-check"></i> Rhizosphere</li>
                    </ul>
                </div>
            </div>
        </div>

        <h3>Images</h3>
        <div id="images-div">
            <ul>
                <li *ngFor="let image of selectedPlant.images">
                    <img src="http://{{image.image_thumbnail_url}}" />
                    <!--<img src="./assets/old-bg_header-min.jpg" />-->
                </li>
            </ul>
        </div>
    </div>
</div>