<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <map [fullMap]="true" [drawable]="true" (setFarmInfo)="setFarmInfo($event)">
        </map>
        <div id="m" class="ui-widget-content">
            <h3>New Farm</h3>
            <p>
                Name: <strong>{{farm_name}}</strong><br /> Description: <strong>{{farm_description}}</strong><br /> Location: <strong>{{farm_location}}</strong><br />
            </p>
            <p>Please draw the boundaries of your farm on the map using the tools on the top right side of the window.</p>
            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
            <button class="btn btn-primary clickable" (click)="submitFarmInfo()">Add Farm</button>
            <a class="btn btn-default clickable" (click)="showContent1()">Cancel</a>
        </div>
        <div class="container">
            <div id='content-1' class="row">
                <h1>Register New Farm</h1>
                <p>Register your farm under CITAS to use the system.</p>
                <form>
                    <div class="form-group">
                        <div>
                            <label for="farm_name" id="farm_name-lbl">Name:</label>
                            <input type="text" id="farm_name-fld" class="form-control" [(ngModel)]="farm_name" name="farm_name" placeholder="Farm Name" />
                            <label for="farm_description" id="farm_description-lbl">Description:</label>
                            <input type="text" id="farm_description-fld" class="form-control" [(ngModel)]="farm_description" name="farm_description" placeholder="Say something about your farm..." />
                            <label for="farm_location" id="farm_location-lbl">Location:</label>
                            <input type="text" id="farm_location-fld" class="form-control" [(ngModel)]="farm_location" name="farm_location" placeholder="Farm Address..." />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input [(ngModel)]="accept" name="accept" type="checkbox" /> I accept <a data-toggle="modal" data-target="#termsModal">terms</a>
                            </label>
                        </div>

                        <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>

                        <button (click)="hideForm()" class="btn btn-primary btn-block">Proceed</button>
                    </div>
                </form>
            </div>
            <div id='addSitePrompt' class="row">
                <h1>Add Sampling Site</h1>
                <p>Register a sampling site within your farm.</p>
                <form>
                    <div class="form-group">
                        <div>
                            <label for="farm_name" id="farm_name-lbl">Name:</label>
                            <input type="text" id="farm_name-fld" class="form-control" [(ngModel)]="farm_name" name="farm_name" placeholder="Farm Name" />
                            <label for="farm_description" id="farm_description-lbl">Description:</label>
                            <input type="text" id="farm_description-fld" class="form-control" [(ngModel)]="farm_description" name="farm_description" placeholder="Say something about your farm..." />
                            <label for="farm_location" id="farm_location-lbl">Location:</label>
                            <input type="text" id="farm_location-fld" class="form-control" [(ngModel)]="farm_location" name="farm_location" placeholder="Farm Address..." />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input [(ngModel)]="accept" name="accept" type="checkbox" /> I accept <a data-toggle="modal" data-target="#termsModal">terms</a>
                            </label>
                        </div>

                        <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>

                        <button (click)="hideForm()" class="btn btn-primary btn-block">Proceed</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>