div.container {
    padding: 90px 0 30px;
}

div#content {
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    min-height: 450px;
}

#content h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
}

.step-1 {
    text-align: center;
}

.step-1 .row div.col-md-2 {
    padding-top: 120px;
    font-size: large;
}

.step-1 .row div:not(.col-md-2) {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}

div.form-group {
    padding: 0 50px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

input.form-control,
select {
    margin-top: 15px;
    height: 53px;
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #57675F;
}

label {
    color: #57675F;
    font-size: 14px;
    line-height: 18px;
}