<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <map [fullMap]="true" [drawable]="true">
        </map>
        <div id="m" class="ui-widget-content">
            <h3>New Farm Site</h3>
            <h4>{{farm_name}}</h4> 
        </div>
       <div class="container">
            <div id='content-1' class="row">
                <h1>New Farm Site</h1>
                <p>Register your farm site under CITAS to use the system.</p>
                <form>
                    <div class="form-group">
                        <div>
                            <label for="farm_name" id="farm_name-lbl">Farm Site Name:</label>
                            <input type="text" id="farm_name-fld" class="form-control" [(ngModel)]="farm_name" name="farm_name" placeholder="Farm Name" />
                            <label for="farm_size" id="farm_size-lbl">Farm Size</label>
                            <input id="farm_size-fld" class="form-control" [(ngModel)]="farm_size" name="farm_size" placeholder="Farm Size" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input [(ngModel)]="accept" name="accept" type="checkbox" /> I accept <a routerLink="/blank" routerLinkActive="active">terms</a>
                            </label>
                        </div>

                        <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>

                        <button (click)="hideForm()" class="btn btn-primary btn-block">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

