<app-nav [isTransparent]="false"></app-nav>

<div class="container">
    <form class="form-horizontal" role="form">
        <i class="app-logo "></i>
        <h2>Reset Password</h2>
        <div class="form-group">
            <div>
                <label for="password" class="control-label">Password</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" placeholder="Password" class="form-control">
                <label for="password2" class="control-label">Confirm Password</label>
                <input [(ngModel)]="password2" name="password2" type="password" id="password2" placeholder="Confirm Password" class="form-control">
                <br />
                <div *ngIf="success" class="alert alert-success">
                    <strong>You may now try your new password!</strong> You have successfully changed your password.
                </div>
                <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                <button (click)="resetPassword()" class="btn btn-primary btn-block">Reset Password</button>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>
<!-- ./container -->


<app-footer></app-footer>