div#container {
    border: 1px solid #ccc;
    margin: 0px 30px 30px 0;
    min-width: 700px;
    padding: 30px;
}

ul#tablist li a {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

ul#tablist li {
    display: inline;
}

ul#tablist {
    list-style: none;
    padding: 0;
}

chart .highcharts-container {
    margin: 0 auto;
    width: 100%;
}

td.text {
    font-weight: bold;
    text-align: left;
}

td.value {
    text-align: left;
}

td,
th {
    padding: 5px 15px;
    text-align: left;
    border-right: 1px solid #ccc;
    font-size: xx-small;
}

tr {
    border: 1px solid #ccc;
    border-top: 0px;
    border-right: 0px;
}

table {
    width: 100%;
    margin: 30px 30px 30px 0;
    border-top: 1px solid #ccc;
}

.table-title {
    text-align: center;
    font-size: large;
}

td:first-child {
    width: 100px;
}