<div id="container">
    <div *ngIf="selectedSensorName == ''">
        <h3>Selected Sensor: <em>None Selected</em></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
    </div>
    <div *ngIf="selectedSensorName != ''">
        <h3>Selected Sensor: {{selectedSensorName}}</h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>

        <ul id="tablist">
            <li><a (click)="clickTab('soil_temp')">Soil Temperature</a></li>
            <li><a (click)="clickTab('air_temp')">Air Temperature</a></li>
            <li><a (click)="clickTab('pH')">pH Level</a></li>
            <li><a (click)="clickTab('conductivity')">Conductivity</a></li>
            <li><a (click)="clickTab('light')">Amount of Light</a></li>
            <li><a (click)="clickTab('moisture')">Soil Moisture</a></li>
        </ul>

        <chart [options]="options"></chart>

    </div>
</div>