<div id="container">
    <div *ngIf="selectedSensorName == ''">
        <h3>Selected Sensor: <em>None Selected</em></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
    </div>
    <div *ngIf="selectedSensorName != ''">
        <h3>Selected Sensor: {{selectedSensorName}}</h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>

        <ul *ngIf="type=='chart'" id="tablist">
            <li><a id="soil_temp" class="selectedTab" (click)="updateChart('soil_temp')">Soil Temperature</a></li>
            <li><a id="air_temp" (click)="updateChart('air_temp')">Air Temperature</a></li>
            <li><a id="pH" (click)="updateChart('pH')">pH Level</a></li>
            <li><a id="conductivity" (click)="updateChart('conductivity')">Conductivity</a></li>
            <li><a id="light" (click)="updateChart('light')">Amount of Light</a></li>
            <li><a id="moisture" (click)="updateChart('moisture')">Soil Moisture</a></li>
        </ul>

        <chart *ngIf="type=='chart'" [options]="options"></chart>

        <table *ngIf="type=='table'" id="sensorDataTable">
            <tr>
                <th>Soil Temp.</th>
                <th>Air Temp.</th>
                <th>pH Level</th>
                <th>Conductivity</th>
                <th>Light</th>
                <th>Moisture</th>
                <th>Time Stamp</th>
            </tr>
            <tr *ngFor="let reading of readings">
                <td>{{reading.soil_temp | number : '1.2-2'}}</td>
                <td>{{reading.air_temp | number : '1.2-2'}}</td>
                <td>{{reading.pH}}</td>
                <td>{{reading.conductivity}}</td>
                <td>{{reading.light}}</td>
                <td>{{reading.moisture}}</td>
                <td>{{reading.timestamp | date: 'shortTime'}}, {{reading.timestamp | date: 'mediumDate'}}</td>
            </tr>
        </table>

    </div>
</div>