<div id="wrapper" class="toggled">
    <sidebar [selectedFarm]="selectedFarm"></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <h1>Soil Parameter Trends</h1>
            <div class="row">
                <sensor-info class="col col-md-9 col-sm-12 float-left" [readings]="selectedSensorReadings" [selectedSensorName]="selectedSensorName"></sensor-info>
                <div id="sensor-list-container" class="col col-md-3 col-sm-12 float-left">
                    <div id="sensor-list-div">
                        <label for="sampling_sites">Sampling Site: </label>
                        <select (change)="onselect($event.target.value)">
                            <option value="">All</option>
                            <option *ngFor="let site of sites" value="{{site.sampling_site_id}}">{{site.sampling_site_id}} : {{site.sampling_site_name}}</option>
                        </select>
                        <map [zoomControl]="true" [selectedFarm]="selectedFarm" [sensors]="sensors" (selectSensor)="selectSensor($event)"></map>
                    </div>
                    <button *ngIf="selectedSensorName" class="btn btn-primary btn-block">Download Sensor Data</button>
                </div>
            </div>
        </div>
    </div>
</div>