div#container {
    border: 1px solid #ccc;
    text-align: left;
    background: #ffffff;
    padding: 30px;
    margin-bottom: 14px;
    min-width: 650px;
}

ul#tablist li a.selectedTab {
    background: #19BD6C;
}

ul#tablist li a {
    padding: 5px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: x-small;
}

ul#tablist li {
    display: inline;
}

ul#tablist {
    list-style: none;
    padding: 3px;
    border-bottom: 1px solid #19BD6C;
}


/*
th {
    background: #f3f3f3;
}

td,
th {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

tr {
    cursor: pointer;
}

tr:hover {
    background: #ccc;
    color: #fff;
}*/

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: x-small;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #99e2be;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #19BD6C;
    color: white;
    text-transform: uppercase;
}