<div id="container">
    <div *ngIf="selectedSensorName == ''">
        <h3>Selected Sensor: <em>None Selected</em></h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>
    </div>
    <div *ngIf="selectedSensorName != ''">
        <h3>Selected Sensor: {{selectedSensorName}}</h3>
        <p>Select a plant marker to the right to view its details and the results of the analysis.</p>

        <ul id="tablist">
            <li><a id="soil_temp" class="selectedTab" (click)="updateChart('soil_temp')">Soil Temperature</a></li>
            <li><a id="air_temp" (click)="updateChart('air_temp')">Air Temperature</a></li>
            <li><a id="pH" (click)="updateChart('pH')">pH Level</a></li>
            <li><a id="conductivity" (click)="updateChart('conductivity')">Conductivity</a></li>
            <li><a id="light" (click)="updateChart('light')">Amount of Light</a></li>
            <li><a id="moisture" (click)="updateChart('moisture')">Soil Moisture</a></li>
        </ul>

        <chart [options]="options"></chart>

    </div>
</div>