div.container {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
    font-weight: 300;
    background: #f3f3f3;
    padding: 30px !important;
    max-width: 1000px;
    float: left;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}