<div id="wrapper" class="toggled">
    <sidebar [selectedFarm]="selectedFarm"></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (mapResize)="onMapResize($event)" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <map (selectPlant)="selectPlant($event)" [showPlants]="showPlants" [showSamplings]="showSamplings" [showSensors]="showSensors" [showSites]="showSites" [fullMap]="true" [resize]="resize" [zoomControl]="true" [selectedFarm]="selectedFarm" [plants]="plants"
            [sensors]="sensors" (selectSensor)="selectSensor($event)">
        </map>
        <div id="draggableMenu" class="ui-widget-content">
            <strong>Map Options</strong><br />
            <form id="menu-options">
                <input (change)="toggleSites()" type="checkbox" id="toggleSites" name="toggleSites" checked> <label for="toggleSites">Sampling Sites</label><br />
                <input (change)="toggleSensors()" type="checkbox" id="toggleSensors" name="toggleSensors" checked> <label for="toggleSensors">Soil Sensors</label><br />
                <input (change)="togglePlants()" type="checkbox" id="togglePlants" name="togglePlants" checked> <label for="togglePlants">Plant Locations</label><br />
                <input (change)="toggleSamplings()" type="checkbox" id="toggleSamplings" name="toggleSamplings" disabled> <label for="toggleSamplings">Soil Samplings</label>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="plantAnalysisModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Plant Analysis</h4>
            </div>
            <div class="modal-body">

                <table id="plantAnalysis-table">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Actual</th>
                        <th>Predicted</th>
                    </tr>
                    <tr>
                        <td>Sensor:</td>
                        <td>{{plantAnalysis.sensor_actual}}</td>
                        <td>{{plantAnalysis.sensor_analysis}}</td>
                    </tr>
                    <tr>
                        <td>Leaf:</td>
                        <td>{{plantAnalysis.leaf_actual}}</td>
                        <td>{{plantAnalysis.leaf_analysis}}</td>
                    </tr>
                    <tr>
                        <td>PlantScope:</td>
                        <td>{{plantAnalysis.plantscope_actual}}</td>
                        <td>{{plantAnalysis.plantscope_analysis}}</td>
                    </tr>
                    <tr>
                        <td>Llamp Assay:</td>
                        <td>{{plantAnalysis.lampassay_actual}}</td>
                        <td>{{plantAnalysis.lampassay_analysis}}</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>