#page-content-wrapper,
#wrapper {
    height: 100%;
}

#page-content-wrapper {
    padding: 0;
    padding-top: 50px;
}

#draggableMenu {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 220px;
    font-size: 16px;
    padding: 10px;
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    background: white;
}

table#plantAnalysis-table {
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

table#plantAnalysis-table td,
table#plantAnalysis-table th {
    padding: 10px;
}

#plantAnalysisModal {
    background: rgba( 3, 3, 3, .8) !important;
}