<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav [farms]="farms" (selectFarm)="selectFarm($event)" [selectedFarm]="selectedFarm"></user-nav>
        <map [showStation]="showStation" [weatherStation]="weatherStation" [zoomTo]="zoomTo" [clearOverlay]="clearOverlay" [showHumid]="showHumid" [showPress]="showPress" [showTemp]="showTemp" (selectPlant)="selectPlant($event)" [showPlants]="showPlants" [showSamplings]="showSamplings" [showSensors]="showSensors" [showSites]="showSites"
            [fullMap]="true" [resize]="resize" [zoomControl]="true" [selectedFarm]="selectedFarm" [plants]="plants" [sensors]="sensors" [sites]="sites" (selectSensor)="selectSensor($event)" [samplings]="samplings">
        </map>
        <div id="draggableMenu" class="ui-widget-content">
            <h4 class="clickable" onclick="$('#hidable').toggleClass('hideMe')">Map Options <span _ngcontent-c3="" class="caret"></span></h4>
            <div class="row" id="hidable" class="hideMe">
                <form class="col-md-6" id="menu-options">
                    <h5>Layers</h5>
                    <input (change)="toggleSites()" [checked]="showSites" type="checkbox" id="toggleSites" name="toggleSites"> <label for="toggleSites">Sampling Sites</label><br />
                    <input (change)="toggleSensors()" [checked]="showSensors" type="checkbox" id="toggleSensors" name="toggleSensors" checked> <label for="toggleSensors">Soil Sensors</label><br />
                    <input (change)="togglePlants()" [checked]="showPlants" type="checkbox" id="togglePlants" name="togglePlants" checked> <label for="togglePlants">Plant Locations</label><br />
                    <input (change)="toggleSamplings()" [checked]="showSamplings" type="checkbox" id="toggleSamplings" name="toggleSamplings"> <label for="toggleSamplings">Soil Characteristics</label>
                </form>
                <form class="col-md-6" id="weather-options">
                    <h5>Weather Data</h5>
                    <input type="radio" id="toggleNone" name="toggleOverlay" value="temp" (click)="toggleOverlay('none')" checked> <label for="toggleNone">None</label><br />
                    <input type="radio" id="toggleTemp" name="toggleOverlay" value="temp" (click)="toggleOverlay('temp')"> <label for="toggleTemp">Temperature</label><br />
                    <input type="radio" id="togglePress" name="toggleOverlay" value="press" (click)="toggleOverlay('press')"> <label for="togglePress">Pressure</label><br />
                    <input type="radio" id="toggleHumid" name="toggleOverlay" value="humid" (click)="toggleOverlay('humid')"> <label for="toggleHumid">Humidity</label><br />
                    <input type="radio" id="toggleStations" name="toggleOverlay" value="station" (click)="toggleOverlay('station')"><i class="fa fa-close" data-toggle="tooltip" title="No weather stations available!"></i><label for="toggleStations" id="station-label">&nbsp;Weather Stations</label><br />
                    <input type="radio" id="toggleFore" name="toggleOverlay" disabled="disabled"> <label for="toggleFore">Weather Forecast</label><br />
                </form>
            </div>
        </div>
        <div id="soilChar-div" *ngIf="showSamplings && soilChar == undefined">
            <p>No soil characteristics data for {{selectedFarm.farm_name}}.</p>
        </div>
        <div class="modal fade" id="weather-station-div" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" *ngIf="weatherStation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 *ngIf="weatherStation.data">{{weatherStation.data.station_name}} Weather Station</h4>
                    </div>
                    <div class="modal-body" id="weather-station-modal-body">
                        <ul id="tablist">
                            <li><a class="selectedTab" id="rain_value" (click)="updateChart('rain_value')">Rain</a></li>
                            <li><a id="air_temp" (click)="updateChart('air_temp')">Air Temperature</a></li>
                            <li><a id="air_humidity" (click)="updateChart('air_humidity')">Air Humidity</a></li>
                            <li><a id="air_pressure" (click)="updateChart('air_pressure')">Air Pressure</a></li>
                        </ul>
                        <chart [options]="options"></chart>
                    </div>
                </div>
            </div>
        </div>
        <div id="soilChar-div" *ngIf="showSamplings && soilChar != undefined">
            <table id="soilChar-table">
                <tr>
                    <th>Depth</th>
                    <th>Soil Char.</th>
                    <th *ngFor="let sampling of soilChar" [style.background]="getBgColor(sampling.foc)">{{sampling.foc}}</th>
                </tr>
                <tr>
                    <td rowspan="6">0 - 10 cm.</td>
                    <td>Class</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.class_1}}</td>
                </tr>
                <tr>
                    <td>Ph</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ph_1}}</td>
                </tr>
                <tr>
                    <td>Ca</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ca_1}}</td>
                </tr>
                <tr>
                    <td>Mg</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.mg_1}}</td>
                </tr>
                <tr>
                    <td>Na</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.na_1}}</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.k_1}}</td>
                </tr>
                <tr>
                    <td rowspan="6">10 - 30 cm.</td>
                    <td>Class</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.class_2}}</td>
                </tr>
                <tr>
                    <td>Ph</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ph_2}}</td>
                </tr>
                <tr>
                    <td>Ca</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ca_2}}</td>
                </tr>
                <tr>
                    <td>Mg</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.mg_2}}</td>
                </tr>
                <tr>
                    <td>Na</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.na_2}}</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.k_2}}</td>
                </tr>
                <tr>
                    <td rowspan="6">30 - 50 cm.</td>
                    <td>Class</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.class_3}}</td>
                </tr>
                <tr>
                    <td>Ph</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ph_3}}</td>
                </tr>
                <tr>
                    <td>Ca</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.ca_3}}</td>
                </tr>
                <tr>
                    <td>Mg</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.mg_3}}</td>
                </tr>
                <tr>
                    <td>Na</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.na_3}}</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td *ngFor="let sampling of soilChar">{{sampling.k_3}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div class="modal fade" id="plantAnalysisModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{this.selectedPlant.plant_name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img *ngIf="this.selectedPlant.images.length > 0" src="http://{{this.selectedPlant.images[0].image_thumbnail_url}}" width="250px" alt="Plant Image" />
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center">Analysis: <span [style.color]="getBgColor(plantAnalysis.total_analysis)">{{plantAnalysis.total_analysis | analysis}}</span></h2>
                        <table id="plantAnalysis-table">
                            <tr>
                                <th>&nbsp;</th>
                                <th class="text-center">Actual</th>
                                <th class="text-center">Predicted</th>
                            </tr>
                            <tr>
                                <td class="text-right">Sensor:</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.sensor_actual)">{{plantAnalysis.sensor_actual | analysis}}</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.sensor_analysis)">{{plantAnalysis.sensor_analysis | analysis}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Leaf:</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.leaf_actual)">{{plantAnalysis.leaf_actual | analysis}}</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.leaf_analysis)">{{plantAnalysis.leaf_analysis | analysis}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">PlantScope:</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.plantscope_actual)">{{plantAnalysis.plantscope_actual | analysis}}</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.plantscope_analysis)">{{plantAnalysis.plantscope_analysis | analysis}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Llamp Assay:</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.lampassay_actual)">{{plantAnalysis.lampassay_actual | analysis}}</td>
                                <td class="text-center" [style.color]="getBgColor(plantAnalysis.lampassay_analysis)">{{plantAnalysis.lampassay_analysis | analysis}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="tempLegend" class="legend hideMe">
    <img src="http://noah.dost.gov.ph/static/img/legend/temp.png" alt="Air Temperature Legend" />
</div>
<div id="pressLegend" class="legend hideMe">
    <img src="http://noah.dost.gov.ph/static/img/legend/pressure.png" alt="Air Pressure Legend" />
</div>
<div id="humidLegend" class="legend hideMe">
    <img src="http://noah.dost.gov.ph/static/img/legend/humidity.png" alt="Air Humidity Legend" />
</div>
