#page-content-wrapper,
#wrapper {
    height: 100%;
}

#page-content-wrapper {
    padding: 0;
    padding-top: 50px;
}

#draggableMenu {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    background: white;
}

#soilChar-table {
    font-size: small;
}

#soilChar-div {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    background: white;
}

table#plantAnalysis-table {
    font-family: 'Montserrat', sans-serif;
}

table#plantAnalysis-table td,
table#plantAnalysis-table th {
    padding: 5px;
}

#plantAnalysisModal {
    background: rgba( 3, 3, 3, .8) !important;
}

h3 {
    margin: -10px 0 10px;
}

h1,
h3 {
    font-weight: bold;
}

.hideMe {
    display: none;
}

form label {
    font-size: small;
    font-weight: normal;
}

.legend {
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 20px;
}

table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 3px;
    font-size: x-small;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #888;
    color: white;
    text-transform: uppercase;
}

tr td tbody {
    width: 100%;
}

tr td tr {
    border: 1px solid #ddd;
}

#weather-station-div .modal-dialog {
    width: 650px;
}

#weather-station-modal-body {
    height: 510px;
}

a {
    cursor: pointer;
}

ul#tablist li a.selectedTab {
    background: #19BD6C;
}

ul#tablist li a {
    padding: 5px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: x-small;
}

ul#tablist li {
    display: inline;
}

ul#tablist {
    list-style: none;
    padding: 2px;
    border-bottom: 1px solid #19BD6C;
}
