#page-content-wrapper,
#wrapper {
    height: 100%;
}

#page-content-wrapper {
    padding: 0;
    padding-top: 50px;
}

#draggableMenu {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    background: white;
}

table#plantAnalysis-table {
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

table#plantAnalysis-table td,
table#plantAnalysis-table th {
    padding: 10px;
}

#plantAnalysisModal {
    background: rgba( 3, 3, 3, .8) !important;
}

h3 {
    margin: 0;
    font-weight: bold;
}

.hideMe {
    display: none;
}

form label {
    font-size: small;
    font-weight: normal;
}

.legend {
    z-index: 8;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 20px;
}