div.container {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    font-weight: 300;
    background: #f3f3f3;
    padding: 30px !important;
    max-width: 1000px;
    float: left;
}

div#content {
    border: 1px solid #ccc;
    text-align: left;
    background: #ffffff;
    padding: 30px;
    margin-bottom: 14px;
    width: 650px;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin: 0 !important;
    width: 500px;
}

h3 {
    margin-top: 0;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: small;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #99e2be;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #19BD6C;
    color: white;
    text-transform: uppercase;
}

.title-col {
    width: 300px;
}

.actions-col {
    width: 100px;
    text-align: center;
}

.btn {
    font-size: small !important;
}

.modal-dialog {
    height: 539px;
    width: 442px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}

button.login-btn {
    width: 100px;
}

div.login-div p {
    margin: 0;
}

div.login-div {
    width: 305px;
    margin: 0 auto;
}

input.form-control {
    margin-top: 10px;
    height: 53px;
    width: 298px;
    border: 1px solid #E4E4E4;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #57675F;
}

.modal-header {
    padding: 15px;
    border-bottom: none !important;
}

.modal-content {
    box-shadow: none !important;
    border: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.login-div label {
    height: 1.8%;
    width: 100%;
    color: #57675F;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

button.btn-primary {
    width: 298px;
}

a.reg-lnk {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #838383;
    font-size: 16px;
}

a.forgot-lnk {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #9C9C9C;
    font-size: 16px;
}

span#forgot-span {
    text-align: right;
    padding-left: 45px;
}