<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <div class="container">
            <h1 *ngIf="trainings">Update Training List ({{trainings.length}})</h1>
            <div id="content" class="row">
                <a class="btn btn-info" onclick="$('#addTrainingModal').modal('toggle')">Add to Training List</a>
                <table>
                    <tr>
                        <th class="title-col">Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    <tr *ngFor="let training of trainings">
                        <td class="title-col" title="{{training.training_name}}">{{training.training_name | ellipsis: 40}}</td>
                        <td>{{training.date_from | date}}</td>
                        <td>{{training.date_to | date}}</td>
                        <td class="actions-col text-center"><a (click)="editTraining(training)" class="clickable edit-link" data-toggle="tooltip" title="Edit member"><i class="icon fa fa-pencil"></i></a> |
                            <a (click)="selectDelTraining(training.training_id)" class="clickable delete-link" data-toggle="tooltip" title="Delete member"><i class="icon fa fa-trash"></i></a> |
                            <a (click)="viewTraining(training)" class="clickable view-link" data-toggle="tooltip" title="View member details"><i class="icon fa fa-eye"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTrainingModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="login-div">
                            <label for="training_name" class="control-label">Training Name</label>
                            <input [(ngModel)]="new.training_name" name="training_name" type="text" id="training_name" placeholder="Training Name" class="form-control" autofocus>
                            <label for="training_venue" class="control-label">Training Venue</label>
                            <input [(ngModel)]="new.training_venue" name="training_venue" type="text" id="training_venue" placeholder="Training Venue" class="form-control">
                            <label for="participants" class="control-label">Participants (comma-separated)</label>
                            <input [(ngModel)]="new.participants" name="participants" type="text" id="participant" placeholder="Participant One, Participant Two, ..." class="form-control">
                            <label for="date_from" class="control-label">Start Date</label>
                            <input [(ngModel)]="new.date_from" name="date_from" id="date_from" placeholder="Start Date" class="form-control">
                            <label for="date_to" class="control-label">End Date</label>
                            <input [(ngModel)]="new.date_to" name="date_to" id="date_to" placeholder="End Date" class="form-control">

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="addTraining()" class="btn btn-primary btn-block">Add Training</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="surePrompt" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="surePromptForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="login-div">
                            <p>Are you sure?</p>
                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="deleteEntryNow()" class="btn btn-primary btn-block">Yes!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewTrainingModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="surePromptForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div *ngIf="selectedTraining" class="login-div">
                            <h4>{{selectedTraining.training_name}}</h4>
                            <div>
                                <strong>Venue: </strong>{{selectedTraining.training_venue}}<br />
                                <strong>Duration: </strong>{{selectedTraining.date_from | date}} - {{selectedTraining.date_to | date}}<br />
                                <strong>Delegates: </strong><span *ngFor="let delegate of selectedTraining.participants; let i = index">{{delegate}}<span *ngIf="i !== selectedTraining.participants.length - 1">, </span></span>
                            </div>
                            <br />
                            <button onclick="$('#viewTrainingModal').modal('hide')" class="btn btn-primary btn-block">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editTrainingModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div *ngIf="selectedTraining" class="login-div">
                            <label for="training_name" class="control-label">Training Name</label>
                            <input [(ngModel)]="selectedTraining.training_name" name="training_name" type="text" id="training_name" placeholder="Training Name" class="form-control" autofocus>
                            <label for="training_venue" class="control-label">Training Venue</label>
                            <input [(ngModel)]="selectedTraining.training_venue" name="training_venue" type="text" id="training_venue" placeholder="Training Venue" class="form-control">
                            <label for="participants" class="control-label">Participants (comma-separated)</label>
                            <input [(ngModel)]="selectedTraining.participants" name="participants" type="text" id="participant" placeholder="Participant One, Participant Two, ..." class="form-control">
                            <label for="edit_date_from" class="control-label">Start Date</label>
                            <input [(ngModel)]="selectedTraining.date_from" name="edit_date_from" id="edit_date_from" placeholder="Start Date" class="form-control">
                            <label for="edit_date_to" class="control-label">End Date</label>
                            <input [(ngModel)]="selectedTraining.date_to" name="edit_date_to" id="edit_date_to" placeholder="End Date" class="form-control">

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="editTrainingNow()" class="btn btn-primary btn-block">Edit Training</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>