<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <div class="container">
            <h1>Update Team Members</h1>
            <div id="content" class="row">
                <div class="row team-row" *ngFor="let team of teams">
                    <div class="row">
                        <h3 class="col-md-10">{{team.title}}</h3>
                    </div>
                    <a class="add-link btn btn-info">Add Member to Group</a>
                    <a class="delete-group-link btn btn-default">Delete Group</a>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th class="jobs-col">Position</th>
                            <th class="actions-col text-align">Actions</th>
                        </tr>
                        <tr *ngFor="let member of team.members">
                            <td>{{member.name}}</td>
                            <td class="jobs-col">{{member.job_position}}</td>
                            <td class="actions-col text-center"><a class="clickable edit-link" data-toggle="tooltip" title="Edit member"><i class="icon fa fa-pencil"></i></a> | <a class="clickable delete-link" data-toggle="tooltip" title="Delete member"><i class="icon fa fa-trash"></i></a>                                | <a class="clickable view-link" data-toggle="tooltip" title="View member details"><i class="icon fa fa-eye"></i></a></td>
                        </tr>
                    </table>
                </div>
                <div class="row text-center">
                    <a class="btn btn-primary">Add a New Group</a>
                </div>
            </div>
        </div>
    </div>
</div>