<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <div class="container">
            <h1>Update Team Members</h1>
            <div id="content" class="row">
                <div id="add-group-row" class="row text-center">
                    <a class="btn btn-primary" onclick="$('#addDeptModal').modal('toggle')">Add a New Department</a>
                </div>
                <div class="row team-row" *ngFor="let team of teams">
                    <div class="row">
                        <h3 class="col-md-10">{{team.title}} ({{team.members.length}})</h3>
                    </div>
                    <a class="add-link btn btn-info" (click)="selectDept(team.dept_id)">Add Member</a>
                    <a class="delete-group-link btn btn-default" (click)="selectDelDept(team.dept_id)">Delete Department</a>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th class="jobs-col">Position</th>
                            <th class="actions-col text-center">Actions</th>
                        </tr>
                        <tr *ngFor="let member of team.members">
                            <td>{{member.name | ellipsis}}</td>
                            <td class="jobs-col" title="{{member.job_position}}">{{member.job_position | ellipsis: 30}}</td>
                            <td class="actions-col text-center"><a (click)="editTeamMember(member)" class="clickable edit-link" data-toggle="tooltip" title="Edit member"><i class="icon fa fa-pencil"></i></a> |
                                <a class="clickable delete-link" data-toggle="tooltip" title="Delete member" (click)="selectDelMember(member.member_id)"><i class="icon fa fa-trash"></i></a> |
                                <a (click)="viewMember(member)" class="clickable view-link" data-toggle="tooltip" title="View member details"><i class="icon fa fa-eye"></i></a> |
                                <a (click)="uploadPhoto(member)" class="clickable upload-link" data-toggle="tooltip" title="Upload photo"><i class="icon fa fa-upload"></i></a>
 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="login-div">
                            <label for="fullname" class="control-label">Full Name</label>
                            <input [(ngModel)]="new.name" name="fullname" type="text" id="fullname" placeholder="Full Name" class="form-control" autofocus>
                            <label for="position" class="control-label">Position</label>
                            <input [(ngModel)]="new.job_position" name="position" type="text" id="position" placeholder="Position" class="form-control">
                            <label for="add_text" class="control-label">Additional Text</label>
                            <input [(ngModel)]="new.add_text" name="add_text" type="text" id="add_text" placeholder="Additional Text" class="form-control">

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="addTeamMember()" class="btn btn-primary btn-block">Add Team Member</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDeptModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="login-div">
                            <label for="department_name" class="control-label">Department Name</label>
                            <input [(ngModel)]="newDept" name="add_text" type="text" id="newDept" placeholder="Department Name" class="form-control" autofocus>

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="addDepartment()" class="btn btn-primary btn-block">Add Department</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="surePrompt" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="surePromptForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="login-div">
                            <p>Are you sure?</p>
                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="deleteEntryNow()" class="btn btn-primary btn-block">Yes!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewMemberModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="surePromptForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div *ngIf="selectedMember" class="login-div text-center">
                            <div class="round-img">
                                <img alt="{{selectedMember.name}}" src="http://{{selectedMember.image}}" />
                            </div>
                            <strong>{{selectedMember.name}}</strong>
                            <br />{{selectedMember.job_position}}
                            <br />{{selectedMember.add_text}}
                            <br />
                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button onclick="$('#viewMemberModal').modal('hide')" class="btn btn-primary btn-block">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div *ngIf="selectedMember" class="login-div">
                            <label for="fullname" class="control-label">Full Name</label>
                            <input [(ngModel)]="selectedMember.name" name="fullname" type="text" id="fullname" placeholder="Full Name" class="form-control" autofocus>
                            <label for="position" class="control-label">Position</label>
                            <input [(ngModel)]="selectedMember.job_position" name="position" type="text" id="position" placeholder="Position" class="form-control">
                            <label for="add_text" class="control-label">Additional Text</label>
                            <input [(ngModel)]="selectedMember.add_text" name="add_text" type="text" id="add_text" placeholder="Additional Text" class="form-control">

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="editTeamMemberNow()" class="btn btn-primary btn-block">Edit Team Member</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>

            <div class="modal-body">
                <form id="editForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div *ngIf="selectedMember" class="login-div">
                            <input id="fileField" type="file" />

                            <br />
                            <div *ngIf="err" [innerHTML]="msg" class="alert alert-danger"></div>
                            <button (click)="uploadPhotoNow()" class="btn btn-primary btn-block">Upload Photo</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
