<nav class="navbar navbar-inverse navbar-fixed-top headroom navbar-affix affix-top" data-spy="affix" data-offset-top="60">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="select-farm-dropdown">
            <ul class="nav navbar-nav navbar-left">
                <li><a (click)="toggleSidebar()" id="menu-toggle">Menu</a></li>
                <li *ngIf=" farms != undefined && farms.length > 0" class="dropdown bg-inverse">
                    <a *ngIf="farms" id="select-farm-toggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedFarm.farm_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let farm of farms"><a (click)="OnSelectFarm(farm.farm_id)">{{farm.farm_name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isLoggedIn"><a class="btn" data-toggle="modal" data-target="#loginModal">Login</a></li>
                <li *ngIf="isLoggedIn" class="dropdown bg-inverse">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{username}} ({{role_text}})! <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/view-profile" routerLinkActive="active">View User Profile</a></li>
                        <li *ngIf="isAdmin"><a routerLink="/update-team" routerLinkActive="active">Update Team Members</a></li>
                        <li *ngIf="isAdmin"><a routerLink="/update-research" routerLinkActive="active">Update Research List</a></li>
                        <li *ngIf="isAdmin"><a routerLink="/update-training" routerLinkActive="active">Update Trainings List</a></li>
                        <li *ngIf="isAdmin"><a routerLink="/update-events" routerLinkActive="active">Update Events List</a></li>
                        <li *ngIf="role == 4"><a routerLink="/register-farm" routerLinkActive="active">Register New Farm</a></li>
                        <li *ngIf="role == 4"><a routerLink="/edit-farm" routerLinkActive="active">Edit Farm</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="#" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>