nav {
    padding: 10px;
    padding-top: 15px;
    border: none;
    border-radius: 0;
}

.nav-transparent {
    background: rgba(3, 3, 3, 0.5);
}

ul.dropdown-menu {
    background-color: #222;
    border-color: #080808;
}

ul.dropdown-menu a {
    background-color: #222;
    color: #9d9d9d;
}

ul.dropdown-menu a:hover {
    background-color: #222;
    color: #ffffff;
}

a {
    cursor: pointer
}