nav {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    background: #ffffff;
}


/*
ul.dropdown-menu {
    background-color: #222;
    border-color: #080808;
}

ul.dropdown-menu a {
    background-color: #222;
    color: #9d9d9d;
}

ul.dropdown-menu a:hover {
    background-color: #222;
    color: #ffffff;
}*/

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #57675F;
    background-color: #ffffff;
}

ul.dropdown-menu li a {
    padding: 15px;
    margin: 0;
}

a.navbar-brand {
    background-image: url('../assets/logo@2x-min.png');
    background-size: 181px;
    margin-top: -20px !important;
    display: block;
    width: 181px;
    height: 65px;
}

li a {
    text-transform: uppercase;
    color: #57675F;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-right: 30px;
}

li a:hover {
    color: #00B95C;
}

a {
    cursor: pointer;
}

.login-btn.btn-default {
    height: 47px;
    width: 187px;
    border: 1px solid #19BD6C;
    border-radius: 4px;
    color: #33C57D;
}