<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav></user-nav>
        <div class="container">
            <h1>View All Farms</h1>
            <!--div class="row">
                <div *ngFor="let farm of farms" class="clickable">
                    <farm-info (click)="display(farm.farm_id)" class="col col-md-12 col-sm-12" [selectedFarm]="farm"></farm-info>
                </div>
            </div-->
            <div class="row farm-row" *ngFor="let selectedFarm of this.farms">
                <div class="col col-md-12">
                    <div class="row">
                        <farm-info class="col col-md-12 col-sm-12" [selectedFarm]="selectedFarm"></farm-info>
                    </div>
                    <div class="row" *ngIf="selectedFarm.sensor_status !== undefined">
                        <plants-info class="col col-md-6 col-sm-12" [selectedFarm]="selectedFarm"></plants-info>
                        <sensors-info class="col col-md-6 col-sm-12" [selectedFarm]="selectedFarm"></sensors-info>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>