<div id="wrapper" class="toggled">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <user-nav [selectedFarm]="selectedFarm"></user-nav>
        <div class="container">
            <h1>User Profile</h1>
            <div id="details">
                <div class="row">
                    <div class="col-md-4 dp">
                        <img *ngIf="imgFile != ''" src="./assets/{{imgFile}}" alt="Avatar" />
                    </div>
                    <div class="col-md-4">
                        <strong>{{user.fullname}}</strong><br />
                        <span *ngIf="user.user_type_verbose">{{user.user_type_verbose}}</span><br />
                        <span *ngIf="user.details.designation">{{user.details.designation}}</span>
                        <span *ngIf="user.details.department">, {{user.details.department}}</span>
                        <span *ngIf="user.details.organization">, {{user.details.organization}}</span>
                        <hr />
                        <span *ngIf="user.email">{{user.email}}<br /></span>
                        <span *ngIf="user.mobile_number">{{user.mobile_number}}<br /></span>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" onclick="$('#editUserModal').modal('toggle')">Edit User Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-edit-profile></app-edit-profile>
