<div class="modal fade" id="whyModal" tabindex="-1" role="dialog" aria-labelledby="Terms" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="app-logo "></i>
            </div>
            <h3>Why We're Asking</h3>
            <div class="modal-body">
            <p> If you own a piece of land or property that you would like to register in the system, please select Farmer. As a farmer, you will be able to register your property, its boundaries as well as monitor status of plants and soil.</p>
            <p>If you would like to access data for research, please register as Researcher. As researcher, you will be allowed to download publicly available quantitative and qualitative data that you can use for analysis. Make sure to acknowledge and to cite properly.</p>
            </div>
        </div>
    </div>
</div>