/* General */

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2d4137;
    background-color: #fff;
    min-width: 1280px;
}

#wrap {
    min-height: calc(100% - 100px);
}

.btn-default {
    border: 1px solid #19BD6C !important;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.btn-primary {
    border-radius: 4px;
    border: 0px !important;
    background-color: #19BD6C !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    text-transform: uppercase;
    height: 53px;
}

i.app-logo {
    background: url('assets/logo-min.png') no-repeat center center !important;
    display: block;
    margin: auto;
    background-size: cover !important;
    height: 42px;
    width: 138px;
    margin-top: 50px;
}

i.app-logo-white {
    background: url('assets/logo-white-min.png') no-repeat center center !important;
    display: block;
    margin-bottom: 20px;
    background-size: cover !important;
    height: 42px;
    width: 138px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}


/* max viewport height minus #head.secondary height */


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.thin {
    font-weight: 300;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
}

.text-muted {
    color: #888;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

.list-spaces li {
    margin-bottom: 10px;
}

a {
    color: #eea022;
}

.div-center {
    margin: 0 auto;
}

.features-image {
    display: block;
    margin: 0 auto 0 auto;
    width: 128px;
    height: 128px;
}

img {
    max-width: 100%;
}

.clickable {
    cursor: pointer;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 3, 3, 3, .8) url('assets/images/ajax-loader.gif') 50% 50% no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}