/* General */

html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#wrap {
    min-height: calc(100% - 100px);
}


/* max viewport height minus #head.secondary height */


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Helvetica, Arial;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.thin {
    font-weight: 300;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
}

.text-muted {
    color: #888;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

.list-spaces li {
    margin-bottom: 10px;
}

a {
    color: #eea022;
}